In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [6]:
df = pd.read_csv("data/raw.csv")

In [13]:

print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       200 non-null    str
 1   race_ethnicity               200 non-null    str
 2   parental_level_of_education  200 non-null    str
 3   lunch                        200 non-null    str
 4   test_preparation_course      200 non-null    str
 5   math_score                   200 non-null    int64
 6   reading_score                200 non-null    int64
 7   writing_score                200 non-null    int64
dtypes: int64(3), str(5)
memory usage: 12.6 KB
None

In [9]:
x = df.drop(columns =['math_score'])

In [10]:
x.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,some high school,free/reduced,none,49,100
1,male,group B,some high school,standard,completed,91,65
2,male,group E,some college,free/reduced,none,84,43
3,female,group D,high school,free/reduced,none,88,88
4,female,group C,bachelor's degree,free/reduced,completed,96,32

In [12]:
y = df['math_score']
y.head()

0    60
1    57
2    58
3    62
4    60
Name: math_score, dtype: int64

In [16]:
## Create column transformer with 3 types of transformer

num_features = x.select_dtypes(exclude ='str').columns
cat_features = x.select_dtypes(include = 'str').columns

In [17]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

# Column Transformer is used to combine noth one hot encoer and standard scaler
# it helps us to combine it in the list format
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer,cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [18]:
x = preprocessor.fit_transform(x)

In [19]:
x

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.76454974,  1.80830521],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
         1.29385341,  0.05315595],
       [ 0.        ,  1.        ,  0.        , ...,  1.        ,
         0.95078622, -1.05008073],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  1.        ,
         0.90177662, -1.10022785],
       [ 0.        ,  1.        ,  1.        , ...,  1.        ,
         1.7349398 ,  1.25668687],
       [ 0.        ,  1.        ,  1.        , ...,  1.        ,
         0.60771902, -0.44831527]], shape=(200, 19))

In [20]:
x.shape

(200, 19)

In [21]:
# seperate the dataet into train and test

from sklearn.model_selection import train_test_split

x_train, x_test, y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state=42)
x_train.shape, x_test.shape

((160, 19), (40, 19))

### Create an Evaluate function

In [22]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_squared = r2_score(true, predicted)
    return mae, mse, rmse, r2_squared

#### Defining all the neccesary models

In [ ]:
models = {
    "Linear Regreesij"
}